body {
    font-family: monospace;
    background-color: white;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: monospace;
}

h1{
    text-decoration: underline;
}